@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--padding-inline: clamp(1rem, 5vw, 4rem);
	--content-max-width: 90rem;
	--breakout-max-width: 100rem;
}

.grid-system {
	display: grid;
	grid-template-columns:
		[full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(
			0,
			calc((var(--breakout-max-width) - var(--content-max-width)) / 2)
		)
		[content-start] min(100% - (2 * var(--padding-inline)), var(--content-max-width))
		[content-end] minmax(0, calc((var(--breakout-max-width) - var(--content-max-width)) / 2))
		[breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}


.grid-system > * {
	grid-column: content;
}

/* a little larger than the default content */
.grid-system > .breakout {
	grid-column: breakout;
}
/* goes from left to right */
.grid-system > .full-width {
	grid-column: full-width;
}

/* the background goes fron left to right but  the content is in the midle */
.grid-system > .wrapper {
	grid-column: full-width;
	display: grid;
	grid-template-columns:
		[full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(
			0,
			calc((var(--breakout-max-width) - var(--content-max-width)) / 2)
		)
		[content-start] min(100% - (2 * var(--padding-inline)), var(--content-max-width))
		[content-end] minmax(0, calc((var(--breakout-max-width) - var(--content-max-width)) / 2))
		[breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.wrapper > * {
	grid-column : content ;
}

img {
	font-style : italic ;
	background-repeat : no-repeat ;
	background-size : cover ;
	display :block  ;
	max-width : 100% ;
	vertical-align : middle ;
	shape-margin : 0.75rem ;
}

html {
	@apply bg-off-white;
	@apply text-300;
}